.searchFilmCard {
  display: grid;
  grid-template-columns: 200px 1fr;
  box-shadow: 0 0 10px black;
  padding: 20px;
  margin: 0 auto;
  width: 60%;
  background-color: #fff;
  transition: 0.5s;
  &:hover {
    background-color: #a7a7a7;
  }
  .cardImg {
    width: 200px;
    height: 500px;
    img {
      object-fit: cover;
    }
  }
  .seacrhFilmText {
    font-size: 18px;
    padding: 20px;
    font-family: sans-serif;
    .seacrhGenres {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      font-size: 14px;
    }
    h1 {
      font-size: 26px;
      margin-bottom: 10px;
    }
    h5 {
      margin: 10px 0px;
      font-weight: 400;
    }
    .searchRating {
      color: gold;
    }
  }
}
@media screen and (max-width: 1100px) {
  .searchFilmCard {
    width: 80%;
  }
}

@media screen and (max-width: 820px) {
  .searchFilmCard {
    width: 90%;
    grid-template-columns: 140px 1fr;
  }
}

@media screen and (max-width: 550px) {
  .searchFilmCard {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 920px) {
  .seacrhFilmCard {
    .genres {
      font-size: 12px;
    }
    h1 {
      font-size: 22px;
      margin-bottom: 5px;
    }
    h5 {
      margin: 5px 0px;
      font-weight: 400;
    }
  }
}
